<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand">Curriculum Vitae</a>
  <div class="form-inline">
    <select
      class="custom-select mr-sm-2"
      #langSelected
      (change)="changeLanguage(langSelected.value)"
    >
      <option *ngFor="let lang of langs" [value]="lang">{{ lang }}</option>
    </select>
  </div>
</nav>

<br />
<div class="container">
  <div class="card mb-3">
    <div class="row no-gutters">
      <!-- SIDEBAR WRAPPER -->
      <div class="col-md-4 sidebar-wrapper">
        <div class="card-body">

          <div class="row form-group text-center">
            <div class="col-12">
              <app-profile></app-profile>
            </div>
          </div>


          <div class="row form-group">
            <div class="col-12">
              <app-contact></app-contact>
            </div>
          </div>

          <div class="row form-group">
            <div class="col-12">
              <app-skills></app-skills>
            </div>
          </div>
        </div>
      </div>
      <!-- /SIDEBAR WRAPPER -->

      <!-- MAIN WRAPPER -->
      <div class="col-md-8 main-wrapper">
        <div class="card-body">

          <!-- SUMMARY -->
          <div class="row form-group">
            <div class="col-12">
              <app-summary></app-summary>
            </div>
          </div>
          <!-- /SUMMARY -->

          <!-- WORK EXPERIENCE -->
          <div class="row form-group">
            <div class="col-12">
              <app-work-experience></app-work-experience>
            </div>
          </div>
          <!-- /WORK EXPERIENCE -->

        </div>
      </div>
      <!-- /MAIN WRAPPER -->
    </div>
  </div>
</div>
