<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand">Resume</a>
  <div class="form-inline">
    <select
      class="custom-select mr-sm-2"
      #langSelected
      (change)="changeLanguage(langSelected.value)"
    >
      <option *ngFor="let lang of langs" [value]="lang">
        {{ lang | titlecase }}
      </option>
    </select>
  </div>
</nav>

<br />
<div class="container">
  <div class="card mb-3">
    <div class="row no-gutters">
      <!-- SIDEBAR WRAPPER -->
      <div class="col-md-4 sidebar-wrapper">
        <div class="card-body">
          <!-- PROFILE -->
          <div class="row form-group text-center">
            <div class="col-12">
              <app-profile></app-profile>
            </div>
          </div>
          <!-- /PROFILE -->

          <!-- CONTACT -->
          <div class="row form-group">
            <div class="col-12">
              <app-contact></app-contact>
            </div>
          </div>
          <!-- /CONTACT -->

          <!-- SKILLS -->
          <div class="row form-group">
            <div class="col-12">
              <app-skills></app-skills>
            </div>
          </div>
          <!-- /SKILLS -->

          <!-- LANGUAGES -->
          <div class="row form-group">
            <div class="col-12">
              <app-languages></app-languages>
            </div>
          </div>
          <!-- /LANGUAGES -->

          <!-- <br>
          <br>
          <br>

          <br>
          <br>
          <br>

          <br>
          <br>
          <br>
          <br>
          <br> -->

          <div class="sidebar-mb"></div>

          <br>

          <!-- REFERENCES -->
          <div class="row form-group">
            <div class="col-12">
              <app-references></app-references>
            </div>
          </div>
          <!-- /REFERENCES -->
          
        </div>
      </div>
      <!-- /SIDEBAR WRAPPER -->

      <!-- MAIN WRAPPER -->
      <div class="col-md-8 main-wrapper">
        <div class="card-body">
          <!-- SUMMARY -->
          <div class="row form-group">
            <div class="col-12">
              <app-summary></app-summary>
            </div>
          </div>
          <!-- /SUMMARY -->

          <!-- WORK EXPERIENCE -->
          <div class="row form-group">
            <div class="col-12">
              <app-work-experience></app-work-experience>
            </div>
          </div>
          <!-- /WORK EXPERIENCE -->

          <!-- PROJECTS -->
          <div class="row form-group">
            <div class="col-12">
              <app-projects></app-projects>
            </div>
          </div>
          <!-- /PROJECTS -->

          <div class="main-mb"></div>

          <!-- EDUCATION -->
          <div class="row form-group">
            <div class="col-12">
              <app-education></app-education>
            </div>
          </div>
          <!-- /EDUCATION -->

          <!-- CERTIFICATION -->
          <div class="row form-group">
            <div class="col-12">
              <app-certification></app-certification>
            </div>
          </div>
          <!-- /CERTIFICATION -->
        </div>
      </div>
      <!-- /MAIN WRAPPER -->
    </div>
  </div>
</div>
