<h5 class="title">{{ 'workExperience.title' | translate }}</h5>

<div *ngFor="let item of 'workExperience.items' | translate" class="card mb-3" style="border: none;">
  <div class="row no-gutters">
    <div class="col-sm-12 col-md-2">
      <h6 class="card-title d-none d-sm-block">{{ item.startDate }} -<br> {{ item.endDate }}</h6>
    </div>
    <div class="col-sm-12 col-md-10">
      <h5 class="card-title font-weight-bold">{{ item.position }}</h5>
      <p class="card-title">
        <ng-container *ngIf="item.companyUrl; else companyWithoutUrl">
          <span class="font-weight-bold"  data-toggle="tooltip" data-placement="top" [title]="item.companyDescripcion ? item.companyDescripcion : ''">
            <a [href]="item.companyUrl" target="_blank" rel="noopener noreferrer">{{ item.company }}</a> - {{ item.location }}
          </span>
        </ng-container>
        <ng-template #companyWithoutUrl>
          <span class="font-weight-bold">
            {{ item.company }} - {{ item.location }}
          </span>
        </ng-template>
        <small class="text-muted d-block d-sm-none">{{ item.startDate }} - {{ item.endDate }}</small>
      </p>
      <p class="card-text" [innerHTML]="item.descripcion"></p>
      <ul class="card-text">
        <li *ngFor="let responsibility of item.responsibilities">{{ responsibility }}</li>
      </ul>
    </div>
  </div>
</div>
